<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shoppe</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="copy">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <a class="active navbar-brand" th:href="@{~/}">CodecoolShoppe</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a th:href="@{~/basket}">Your basket</a>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our suppliers<b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li th:each="supplier,iterStat : ${supplierList}">
                            <a th:href="@{'~/supplier/' + ${supplier.getId()}}"
                               th:text="${supplier.getName()}">SUPPLIER 1
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Categories<b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li th:each="category,iterStat : ${categoryList}">
                            <a th:href="@{'~/category/' + ${category.getId()}}"
                               th:text="${category.getName()}">CATEGORY 1
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="jumbotron text-center" id="banner">
    <h1>Groceries like nowhere else.</h1>
</div>

<div class="container">

    <div class="well well-sm">
        <strong>Shopping Cart</strong>
    </div>

    <div id="products" class="row list-group">

        <!--/*@thymesVar id="cartItemList" type="List<CartItem>"*/-->
        <div class="item col-xs-4 col-lg-4" th:each="item : ${cartItemList}">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${item.getProduct().getName()}">Name</h4>
                    <p class="group inner list-group-item-text" th:text="${item.getProduct().getDescription()}">
                        Description</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${item.getProduct().getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" th:href="@{'~/basket/' + ${item.getId()} + '/add'}">
                                Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>
<script type="javascript" src="/public/js/main.js" th:src="@{~/js/main.js}"></script>
</body>
</html>